@model Dictionary<string, string>
@using UrbanWatchMVCWebApp.Services;
@using UrbanWatchMVCWebApp.EF;
@using UrbanWatchMVCWebApp.Models;
@inject IRepository repo
@inject UrbanWatchService urbanWatchService

<div class="text-center">
    <form method="post">
        <p>
            <label for="routeName">Choose a route from this list: <input list="routes" id="routeName" name="routeName" asp-for="@Model["routeName"]" width="500px" /> </label>
            <datalist id="routes">
                @{
                    Route[] getRoutes = await repo.GetRoutesAsync();
                    Trip[] getTrips = await repo.GetTripsAsync();
                }
                @foreach (Route route in getRoutes.OrderBy(order => order.RouteType).ToArray())
                {
                    string routeType = (Int32.Parse(route.RouteType) == 3) ? "Bus" : "Trolleybus";
                    <option value="@urbanWatchService.RouteNameCombine(routeType, route.RouteShortName, route.RouteLongName)"></option>
                }
            </datalist>
        </p>
        <p>
            <label for="tripType">Select trip type:</label>
            @if (Model != null)
            {
                <input type="checkbox" id="tripType" name="tripType" value="true" asp-for="@Model["tripType"]" />
            }
            else
            {
                <input type="checkbox" id="tripType" name="tripType" value="true" checked />
            }
            <br /><span class="helper-text">If the checkbox is checked, it means the option is "on way". If the checkbox is not checked, it means the option is "round way".</span>
        </p>
        <p>
            <input type="submit" />
        </p>
    </form>
</div>