@model Dictionary<string, string>
@using UrbanWatchMVCWebApp.Services;
@inject LeafletJSService leafletJSService

@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Discover Chisinau with UrbanWatch</h1>
</div>

@await Html.PartialAsync("_FormPartialView", Model)

<div class="text-center">
    <div id="map" style="height: 500px;"></div>
</div>

<script>
    @if (Model != null)
    {
        @Html.Raw(await leafletJSService.GenerateMapScriptAsync(Model));
    }
    else
    {
        @Html.Raw(leafletJSService.GenerateMapScript());
    }
</script>

@section Scripts {
    <script>

    </script>
}