html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bus-stop-div-icon {
    background: #90ee90;
    border: 1px solid #666;
}
.bus-div-icon {
    background: #4DC3FF;
    border: 1px solid #666;
    border-radius: 50%;
}